@font-face {
	font-family: Montserrat;
	src: url(/assets/fonts/Montserrat-Regular.ttf)
}

* {
	font-family: 'Montserrat', sans-serif;
}

form {
	padding: 1cm 0cm 1cm 0cm;
}

div[ng-view] {
	margin-top: 50px;
}

div #navTableButtons {
	display: flex;
	justify-content: flex-end;
}

table {
	height: 50vh;
}